/node_modules
/app/storage/*.key
/app/storage/medialibrary
/app/storage/netopia
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.env.backup
/themes/gypsyearth/
/app/resources/sass/gypsyearth.scss
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
/modules/Client
/modules/Comment
/modules/Blog
/modules/Bookable
/modules/Like
/modules/Shop
/modules/Video
/modules/Webmail