body, html {
    height: 100%;
    font-family: Montserrat-Regular, sans-serif;
    background-color: rgb(245 245 245);
}

.navbar-simplicms {
  background-color: #665e77;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

