.profile-container {
    margin-top: -10px; /* Adjust this value as needed */
    padding-top: 0;
}
#cover-photo {
    width:100%;
    height:350px;
    background-size:cover;
    background-position: center center;
    transition: all .08s linear;
    position: relative;
    margin-bottom: 20px;
}

#cover-photo img#cover{
    width:100%;
    height:350px;
    background-size:cover;
    background-position: center center;
    margin-top: 3px;
}
#avatar {
    position: absolute;
    bottom: -35px; /* Adjust this value as needed */
    left: 20px; /* Adjust this value as needed */
    width: 150px; /* Adjust this value as needed */
    height: 150px; /* Adjust this value as needed */
    background-size: cover;
    border-radius: 50%;
}
.basic-info {
    position: absolute;
    bottom: 0;
    left: 175px;
    color: #fff;
    font-size: 18px;
}
.basic-info h4 {
    margin: 35px 0;
    font-weight: bold;
}
.basic-info p {
    margin: 0;
}

#cover-edit {
    position: absolute;
    bottom: 0;
    right: 25px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px
}
.bg-profile-nav {
    --bs-bg-opacity: 1;
    background-image: var(--bs-gradient);
    background-color: #fff !important;
    border: 1px solid #d3d6db;
    border-radius: 0 0 3px 3px;
}
nav#profile-nav {
    margin-left: 20px;
}
